body
{
  margin: 0;
  text-align: center;
}
h1
{
  padding-top: 10px;
  text-align: center;
}

/*first div*/
.topContainer
{
  /*text-align: center;*/
  background-color: #e6f8f9;
  position: relative;
  padding-top: 75px;
}

.top2nd{
  text-align: center;
  position: relative;
  bottom: 50px;
}
.topHorizontalLine
{
  border-color: gray;
  border-style: dotted none none none;
  border-width: 8px;
  width: 25%;
}

/*2nd div*/
.middleContainer
{
  background-color: #95adbe;
  height: 200px;
  width: 200px;
}

/*3rd div*/
.bottomContainer
{
  background-color: #aee7e8;
  height: 200px;
  width: 200px;
}

.school
{
  color: red;
  text-decoration: underline;
}

/* all images css */

.tower{
  height: 80px;
  width: 80px;
  position: absolute;

}
.cloud{
  position: absolute;
  top: 50px;
  right: 600px;
}
