body
{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #e6f8f9;
  font-size: 1rem;
}
h1
{
  padding-top: 10px;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #11999E;
  margin-bottom: 10px;
}
h2
{
  color: #11999E;
}
h3
{
  padding-top: 50px;
  color: #11999E;
}

/*---- top ----*/
.topContainer
{
  /*text-align: center;
  background-color: #e6f8f9; */
  position: relative;
  padding-top: 75px;
}

.top2nd{
  text-align: center;
  position: relative;
  bottom: 50px;
}
.topHorizontalLine
{
  border-color: gray;
  border-style: dotted none none none;
  border-width: 8px;
  width: 25%;
}
.top-paragraph
{
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 2;
  color: #11999E;
}
/* middle */
.skill-row
{
  position: relative;
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
  text
}
.skill-c
{
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 50px;
}
.skill-java
{
  border-radius: 100%;
  width: 25%;
  float: right;
}


/*-- bottom ---*/
.bottom-container
{

  background-color: gray;
  padding: 50px 0px 10px 0px;
}
.footer-link:hover
{
  width: 50px;
  height: 75px;
}

.school
{
  color: red;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
}

/* all images css */
.profile
{
  border-radius: 100%;
}
.tower{
  height: 80px;
  width: 80px;
  position: absolute;

}
.cloud{
  position: absolute;
  top: 50px;
  right: 600px;
}
.icon-references
{
  font-size: 0.8rem;
}
